---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<BaseLayout title='Blog' description='asd'>
  <h2 transition:name='blog' class='w-fit'>Blog</h2>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-3'>
    {
      posts.map((post) => (
        <div class='relative'>
          <a href={`/blog/${post.slug}`}>
            <h3>{post.data.title}</h3>
            {post.data.thumbnail && (
              <Image
                src={post.data.thumbnail!}
                alt={'asd'}
                width={500}
                height={500}
              />
            )}
            <div class='absolute bottom-0 bg-black bg-opacity-50 backdrop-blur-sm p-2'>
              {post.data.description}
            </div>
          </a>
        </div>
      ))
    }
  </div>
</BaseLayout>
