---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
---

<BaseLayout title='Blog' description='asd'>
  <h2 transition:name='blog' class='w-fit'>Blog</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit fuga nostrum
    cum consectetur dolorum eaque distinctio rerum suscipit consequuntur
    corrupti facere, at delectus eveniet tempora mollitia ullam nobis provident
    neque obcaecati quisquam aperiam perspiciatis possimus doloremque. Sint
    provident ratione magnam odit quidem delectus amet omnis aliquid non ad nisi
    quos sit optio ducimus inventore ea rem obcaecati explicabo dolore, nostrum
    corrupti, enim voluptatem minima recusandae. Tempora vero repellendus sed
    iusto corporis officia, ad excepturi nisi exercitationem est eveniet illum
    dolor, unde nesciunt autem, eius obcaecati impedit suscipit voluptates
    consequatur vel et harum nobis vitae. Consequuntur ut laborum esse
    dignissimos quae!
  </p>
</BaseLayout>
