---
import CheckMarkIcon from '@/components/icons/CheckMarkIcon.astro'
import ErrorIcon from '@/components/icons/ErrorIcon.astro'
import BaseLayout from '@/components/layouts/BaseLayout.astro'
import { sendEmail } from '@/lib/nodemailer'

export const prerender = false

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()
    const name = data.get('name')
    const email = data.get('email')
    const message = data.get('message')
    if (!name || !email || !message) {
      throw new Error('Missing required fields')
    }
    await sendEmail({ name, email, message })
    return Astro.redirect('/contact/?success=true')
  } catch {
    return Astro.redirect('/contact/?success=false')
  }
}

const success = Astro.url.searchParams.get('success') as 'true' | 'false' | null
---

<BaseLayout>
  {
    success === 'true' ? (
      <p class='flex gap-2'>
        <CheckMarkIcon />
        Your message was delivered successfully!
      </p>
    ) : success === 'false' ? (
      <p class='flex gap-2'>
        <ErrorIcon /> There was an error delivering your message. Please try
        again later.
      </p>
    ) : (
      <form class='flex flex-col gap-3' method='POST'>
        <div class='grid gap-3 sm:grid-cols-2'>
          <div class='flex flex-col gap-1'>
            <label for='name'>Name</label>
            <input type='text' id='name' name='name' required />
          </div>
          <div class='flex flex-col gap-1'>
            <label for='email'>Email</label>
            <input type='email' id='email' name='email' required />
          </div>
        </div>
        <div class='flex flex-col gap-1'>
          <label for='message'>Message</label>
          <textarea id='message' name='message' required rows={8} />
        </div>
        <button type='submit' class='w-fit m-auto'>
          Send
        </button>
      </form>
    )
  }
</BaseLayout>
