---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
---

<BaseLayout title='Education' description='asd'>
  <h2 transition:name='education' class='w-fit'>Education</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt rerum dolores
    natus, dolor voluptas cum laudantium labore ipsa earum perspiciatis aliquid
    accusantium officiis aliquam obcaecati, quam dolorem modi dolore? Molestias
    inventore voluptatum cumque rerum repellendus alias quaerat asperiores unde
    quis dolorem eaque voluptates quo nemo impedit obcaecati exercitationem,
    necessitatibus deserunt consectetur ad. Labore officia, rem libero
    voluptatibus velit excepturi quas asperiores veritatis adipisci voluptate
    ullam voluptas ab iste repellendus facere, accusantium, explicabo qui
    eligendi error expedita distinctio pariatur! Animi, maiores architecto non
    voluptas, nulla inventore delectus omnis placeat maxime vitae dolor nesciunt
    neque culpa repudiandae amet repellat obcaecati dolorem esse!
  </p>
</BaseLayout>
