---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import { getEntry } from 'astro:content'

const introduction = await getEntry('introduction', 'index')
const { Content: IntroductionContent } = await introduction.render()
const projects = await getCollection('project')
const work = await getCollection('work')
const educations = await getCollection('education')
---

<BaseLayout
  title='Frans Ekman'
  description='Frans Ekman is a software developer from Sweden.'
>
  <h2>{introduction.data.title}</h2>
  <section>
    <IntroductionContent />
  </section>
  <h2>Projects 🛠️</h2>
  <section class='grid gap-3 grid-cols-2'>
    {
      projects.map(async (project) => {
        const { Content } = await project.render()

        return (
          <div class='border-2 p-3 rounded-lg'>
            <h3>{project.data.title}</h3>
            <Content />
          </div>
        )
      })
    }
  </section>
  <h2>Work 💼</h2>
  <section class='grid gap-3 grid-cols-2'>
    {
      work.map(async (position) => {
        const { Content } = await position.render()

        return (
          <div class='border-2 p-3 rounded-lg'>
            <h3>{position.data.title}</h3>
            <Content />
          </div>
        )
      })
    }
  </section>
  <h2>Education 🎓</h2>
  <section class='grid gap-3 grid-cols-2'>
    {
      educations.map(async (education) => {
        const { Content } = await education.render()

        return (
          <div class='border-2 p-3 rounded-lg'>
            <h3>{education.data.title}</h3>
            <Content />
          </div>
        )
      })
    }
  </section>
</BaseLayout>
