---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const education = await getCollection('project')
---

<BaseLayout title='Projects' description='asd'>
  <h2 transition:name='projects' class='w-fit'>Projects</h2>
  {
    education.map(async (item, index) => {
      const { Content } = await item.render()

      return (
        <div>
          <h3>{item.data.title}</h3>
          <Content />
          {item.data.link && (
            <div class='flex justify-end'>
              <a href={item.data.link}>Project link</a>
            </div>
          )}
          {index !== education.length - 1 && <hr />}
        </div>
      )
    })
  }
</BaseLayout>
