---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
---

<BaseLayout title='asd' description='asd'>
  <h2 transition:name='projects' class='w-fit'>Projects</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius
    nihil aliquid aspernatur dolorem consequuntur quod. Itaque voluptatem odit
    provident unde ex ratione vel dolorem excepturi reprehenderit! Iure aperiam
    voluptatem eligendi. Cumque iste soluta officiis alias maiores odit dolorem
    enim eveniet? Quidem, consequuntur asperiores vel repellat expedita maxime
    ab dicta quaerat consectetur quibusdam eligendi et, vero debitis omnis
    tempora magni ipsam pariatur numquam explicabo vitae itaque laudantium nihil
    error accusamus! Non vel sunt deleniti maiores optio cumque delectus
    dignissimos voluptate autem laboriosam eligendi, cum excepturi rem voluptas
    laudantium blanditiis aut atque nihil enim magni eos accusantium! Laboriosam
    iure omnis alias!
  </p>
</BaseLayout>
