---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const education = await getCollection('project')
---

<BaseLayout>
  {
    education.map(async (item, index) => {
      const { Content } = await item.render()

      return (
        <div>
          <h3>{item.data.title}</h3>
          <Content />
          {item.data.link && (
            <div class='pb-3'>
              <a href={item.data.link} class='text-blue-300'>
                Project link
              </a>
            </div>
          )}
          {index !== education.length - 1 && <hr />}
        </div>
      )
    })
  }
</BaseLayout>
