---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
import { formatDateRange } from '@/lib/formatters'
import { getCollection } from 'astro:content'

const work = await getCollection('work')
work.sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime())
---

<BaseLayout title='Work' description="Frans Ekman's work history">
  <h2 transition:name='work' class='w-fit'>Work</h2>
  {
    work.map(async (item, index) => {
      const { Content } = await item.render()

      return (
        <div>
          <h3>
            {item.data.title} @ {item.data.company}
          </h3>
          <p class='italic'>
            {formatDateRange(item.data.startDate, item.data.endDate)}
          </p>
          <Content />
          {index !== work.length - 1 && <hr />}
        </div>
      )
    })
  }
</BaseLayout>
