---
import BaseLayout from '@/components/layouts/BaseLayout.astro'
---

<BaseLayout title='Work' description='asd'>
  <h2 transition:name='work' class='w-fit'>Work</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque saepe est
    praesentium! Possimus, enim sequi! Sapiente optio laboriosam ipsa, harum
    illum veniam placeat esse ea libero inventore velit nisi delectus dolorum
    vitae ullam earum aperiam beatae quidem totam fugit et accusamus odio ab!
    Itaque, consequatur totam animi rerum corrupti, est repudiandae atque fugiat
    incidunt placeat minima modi. Labore aliquam quibusdam odit ipsum quidem
    animi iure, aspernatur perferendis quo! Cumque tempora quas perspiciatis
    voluptatum rerum ab. Blanditiis reiciendis magni asperiores quisquam commodi
    laboriosam, vitae repellat suscipit dolorem non vero temporibus, ut at
    deserunt. Asperiores distinctio sit quaerat qui quas, vitae maxime.
  </p>
</BaseLayout>
